            <% if ( messages.errors ) { %>
  <div class="alert alert-danger" role="alert">
    <% for(var i =0; i < messages.errors.length; i++){ %>
    <p><%= messages.errors[i].msg %> </p>
    <% } %>
  </div>
<% } %>

<% if ( messages.info ) { %>
  <div class="alert alert-warning" role="alert">
    <% for(var i =0; i < messages.info.length; i++){ %>
    <p><%= messages.info[i].msg %> </p>
    <% } %>
  </div>
<% } %>
<% if ( messages.success ) { %>
  <div class="alert alert-success" role="alert">
    <% for(var i =0; i < messages.success.length; i++){ %>
    <p><%= messages.success[i].msg %> </p>
    <% } %>
  </div>
<% } %>
