       <header id="header" class="">
            <ul class="header-inner">
                <li id="menu-trigger" data-trigger="#sidebar" class="">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>
                <li class="logo hidden-xs"><a href="/">Journext.com</a></li>
                <li class="pull-right">
                    <ul class="top-menu">
                <!--        <li id="top-search"><a class="tm-search" href="alerts.html"></a></li> -->
                    
                        <li class="dropdown" >
                            <a data-toggle="dropdown" class="tm-notification" href="alerts.html" aria-expanded="false"><i class="tmn-counts" id="number"></i></a>
                            <!-- <div class="pull-right">
                                <div class="listview" id="notifications">
                                    <div class="lv-header">
                                        My Properties
                                    </div>
                                    <div class="lv-body c-overflow" tabindex="2" style="overflow: hidden; outline: none;" id="properties">
                                        <% if(!user) { %>
                                        <p>Login to see your properties</p>
                                        <% } %>
                                    </div>
                        
                                    <a class="lv-footer" href="/property">View All</a>
                                </div>
                    
                            <div id="ascrail2003" class="nicescroll-rails nicescroll-rails-vr" style="width: 0px; z-index: 9; cursor: default; position: absolute; top: 0px; left: 298px; height: 275px; display: none;"><div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 0px; height: 0px; border: 0px; border-radius: 0px; background-color: rgba(0, 0, 0, 0.498039); background-clip: padding-box;"></div></div><div id="ascrail2003-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 0px; z-index: 9; top: 275px; left: 0px; position: absolute; cursor: default; display: none;"><div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 0px; width: 0px; border: 0px; border-radius: 0px; background-color: rgba(0, 0, 0, 0.498039); background-clip: padding-box;"></div></div></div> -->
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="tm-settings" href="alerts.html"></a>
                            <ul class="dropdown-menu dm-icon pull-right">
                                <li>
                                    <a href="/choose">Visualizations</a>
                                </li>
                                
                                <li>
                                    <a href="/api">Data sets</a>
                                </li>
                                <% if(!user) { %>
                                <li>
                                    <a href="/login">Login/Register</a>
                                </li>
                                <% } else { %>
                                <li>
                                    <a href="/account">Account Settings</a>
                                </li>
                                <li>
                                    <a href="/logout">Logout</a>
                                </li>
                                <% } %>
                                
                            </ul>
                        </li>
                        
                    </ul>
                </li>
            </ul>
            
            <!-- Top Search Content -->
            <div id="top-search-wrap">
                <input type="text">
                <i id="top-search-close">×</i>
            </div>
        </header>
    
        <section id="main">
            <aside id="sidebar" class="">
                <div class="sidebar-inner">
                    <div class="si-inner">
                         <% if(user) { %>
                            <div class="profile-menu">
                            <a href="alerts.html">
                                <div class="profile-pic">
                                     <% if(user.profile.picture) { %>
                                                <img src="<%=user.profile.picture%>">
                                              <% } else { %>
                                                <img src="<%=user.gravatar(60)%>">
                                              <% }  %>                                </div>
                                                            <div class="profile-info">
                                     <%=user.profile.name || user.email || user.id%>                
                                                <i class="md md-arrow-drop-down"></i>
                                                                    </div>
                                                                </a>
                
                            <ul class="main-menu" style="display: none;">
                                <li>
                                    <a href="/account"><i class="md md-person"></i> View Profile</a>
                                </li>
                                <li>
                                    <a href="/logout"><i class="md md-history"></i> Logout</a>
                                </li>
                            </ul>
                        </div>

                            <% }%>
                        
                
                        <ul class="main-menu">
                            <li><a href="/"><i class="md md-home"></i> Home</a></li>
                            <!-- <li>
                            <a href="/search"><i class="md-account-balance md"></i><b>Browse All Houses</b></a></li>
                             <li><a href="/submit"><i class="md md-file-upload"></i><b>Submit your Listing</b></a></li>
                            <li><a href="http://blog.Journext.com/"><i class="cubes icon"></i><b>Blog</b></a></li>
                            <li><a href="/about-us"><i class=" md-bookmark md"></i><b>About Us</b></a></li>
                            <li><a href="/career"><i class="md md-style"></i><b>We are Hiring</b></a></li>
                            <li><a href="/media"><i class="md  md-now-wallpaper"></i> <b>Media</b></a></li>
                            <li> <a href="/affiliate"><i class="md  md-verified-user"></i> <b>Affiliates</b></a></li>
                            <li><a href="/franchise"><i class="cubes icon"></i> <b>Franchises</b></a></li>
                            <li><a href="/builder"><i class="cubes icon"></i> <b>Builder</b></a></li>
                             --><li><a href="/contactus"><i class="cubes icon"></i> <b>Contact Us</b></a></li>
                            <li class="sub-menu">
                                <ul>
                                     <li><a href="/terms">Terms of use</a></li>
                                          <li><a href="/crm">CRM</a></li>
                                           <li><a href="/sitemap.xml">Sitemap</a></li>
                                           <li><a href="mailto:info@Journext.com" target="_top">Looking for help? <br>info@Journext.com<br>Write to us</a>    </li>
                                          <li>Follow us on
                                              <ul>
                                                <a href=""><li>Facebook</li></a>
                                                <a href=""><li>Twitter</li></a>
                                                <a href=""><li>LinkedIn</li></a>
                                              </ul>
                                          </li>   
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </section>
        <script src="/alpha/js/jquery-2.1.1.min.js"></script>