<!DOCTYPE html>
<html>
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Choose visualization</title>
    
        <!-- Vendor CSS -->
        <link href="/alpha/vendors/animate-css/animate.min.css" rel="stylesheet">
        <link href="/alpha/vendors/sweet-alert/sweet-alert.min.css" rel="stylesheet">
        <link href="/alpha/vendors/material-icons/material-design-iconic-font.min.css" rel="stylesheet">
            
        <!-- CSS -->
        <link href="/alpha/css/app.min.1.css" rel="stylesheet">
        <link href="/alpha/css/app.min.2.css" rel="stylesheet">
    </head>
    
    <body>
          <%- include ../partials/aheader.ejs %>
        
            <section id="content">
                <div class="container">
                    <div class="col-sm-12">
                       <div class="col-sm-4">
                            <div class="card">
                                <div class="card-header bgm-bluegray m-b-20">
                                    <h2>Twitter </h2>                                    
                                    <button class="btn bgm-blue btn-float waves-effect"><a href="#"> <i class="md md-send" style="color: white;"></i></a></button>
                                </div>

                                <div class="card-body card-padding">
                                <img src="/img/api/twitter.png" style="width:100%;height:260px">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-header bgm-bluegray m-b-20">
                                    <h2>Weather Forecast</h2>
                                    
                                    <button class="btn bgm-blue btn-float waves-effect">
                                      <a href="/api/forecastio"> <i class="md md-send" style="color: white;"></i></a>
                                    </button>
                                </div>

                                <div class="card-body card-padding">
                                <img src="/img/api/forecast.png" style="width:100%;height:260px">
                                </div>
                            </div>
                          </div>  

                          <div class="col-sm-4">
                            <div class="card">
                                <div class="card-header bgm-bluegray m-b-20">
                                    <h2>Google Trends</h2>
                                    <button class="btn bgm-blue btn-float waves-effect"><a href="#"> <i class="md md-send" style="color: white;"></i></a></button>
                                </div>

                                <div class="card-body card-padding">
                                <img src="/img/api/google-trends.png" style="width:100%;height:260px">
                                </div>
                              </div>
                            </div>

                            <div class="col-sm-4">
                            <div class="card">
                                <div class="card-header bgm-bluegray m-b-20">
                                    <h2>Tourism - India</h2>                                    
                                    <button class="btn bgm-blue btn-float waves-effect"><a href="#"> <i class="md md-send" style="color: white;"></i></a></button>
                                </div>

                                <div class="card-body card-padding">
                                <img src="/img/api/tourism.png" style="width:100%;height:260px">
                                </div>
                            </div>
                            </div>

                            <div class="col-sm-4">
                             <div class="card">
                                <div class="card-header bgm-bluegray m-b-20">
                                    <h2>Agriculture - India</h2>
                                    <button class="btn bgm-blue btn-float waves-effect"><a href="#"> <i class="md md-send" style="color: white;"></i></a></button>
                                </div>

                                <div class="card-body card-padding">
                                <img src="/img/api/agriculture.png" style="width:100%;height:260px">
                                </div>
                              </div>
                            </div>

                         <div class="col-sm-4">
                             <div class="card">
                                <div class="card-header bgm-bluegray m-b-20">
                                    <h2> Crime - India </h2>
                                    
                                    <button class="btn bgm-blue btn-float waves-effect"><a href="#"> <i class="md md-send" style="color: white;"></i></a></button>
                                </div>

                                <div class="card-body card-padding">
                                <img src="/img/api/crime.png" style="width:100%;height:260px">
                                </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
        

          <%- include ../partials/afooter.ejs %>
        <script src="/alpha/js/jquery-2.1.1.min.js"></script>
        <script src="/alpha/js/bootstrap.min.js"></script>
        
        <script src="/alpha/vendors/nicescroll/jquery.nicescroll.min.js"></script>
        <script src="/alpha/vendors/auto-size/jquery.autosize.min.js"></script>
        <script src="/alpha/vendors/waves/waves.min.js"></script>
        <script src="/alpha/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="/alpha/vendors/sweet-alert/sweet-alert.min.js"></script>
        <!-- // <script src="/js/watermark.js"></script> -->
        
        
        
      
                
        <script src="/alpha/js/functions.js"></script>
        <script src="/alpha/js/demo.js"></script>
    
    
    </body>
</html>